[submodule "openscan/src/main/openscan"]
	path = openscan/src/main/openscan
	url = http://www.github.com/ryanpeach/openscan
[submodule "openscan/src/main/material"]
	path = openscan/src/main/material
	url = http://www.github.com/google/material-design-icons
