[submodule "openscan/src/main/resources/cpp"]
	path = openscan/src/main/resources/cpp
	url = http://www.github.com/ryanpeach/openscan
[submodule "openscan/src/main/resources/material"]
	path = openscan/src/main/resources/material
	url = https://github.com/google/material-design-icons.git
